*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Smythe', sans-serif;
    margin: 0;
    padding: 0;
}

/* Typography and icons */

.color-view p {
    height: 200px;
    width: 40px;
}

/* Layout */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    margin: 0 auto;
    padding: 2.5rem;
    gap: 2rem;
}

.dashboard {
    display: flex;
    gap: 1.125rem;
}

.colors {
    display: flex;
    flex-direction: column;
}

.color-view {
    display: flex;
    gap: 2rem;
    height: 200px;
}

.color-image {
    width: 40px;
}

.color-hex {
    display: flex;
    /* gap: 1rem; */
    justify-content: space-between;
    padding: 0 1rem;
}

/* Buttons */

/* Images */

/* Links */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #1F2937; /* Black background color */
    color: whitesmoke; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 6px; /* Rounded borders */
    padding: 1rem; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/* Media queries */

/* @media(width >= 600px) */
@media(min-width: 600px) {
    /* Typography */

    .color-view p {
        height: 400px;
        width: 100px;
    }

    /* Layout */

    .color-view {
        height: 400px;
    }
    
    .color-image {
        width: 100px;
    }
}
