*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    color: whitesmoke;
    background-color: #1F2937;
    font-family: 'Smythe', sans-serif;
    margin: 0;
    padding: 0;
}

/* Typography and icons */

.title {
    font-size: 2rem;
    margin-bottom: 0;
}

.input-color,
.color-mode,
.mode-option,
.get-scheme-button {
    font-size: 1.125rem;
}


/* .color-view span {
    height: 200px;
    width: 40px;
} */

/* Layout */

.container {
    display: flex;
    flex-direction: column;
    /* background-color: #1F2937; */
    align-items: center;
    justify-content: center;
    width: 100%;
    /* min-width: 550px; */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    margin: 0 auto;
    padding: 2rem;
    /* gap: 2rem; */
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 1.125rem;
    margin: 2rem 0 2.5rem 0;
}

.input-color {
    cursor: pointer;
}

.color-mode {
    color: whitesmoke;
    background-color: #1F2937;
    border-radius: 6px;
    padding: 0.5rem 1rem;
}

.mode-option {
    margin: 0.5rem 0;
}

.colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 0.75rem; */
    /* width: 100%; */
    margin: 0 auto;
}

.color-view,
.color-hex {
    cursor: pointer;
}

.color-view {
    display: flex;
    justify-content: center;
    gap: 1.125rem;
    height: 200px;
    width: 100%;
    /* width: 550px; */
    margin-bottom: 0;
}

.color-image {
    /* width: 60px; */
    width: 100%;
    padding: 0;
    margin: 0;
}

.color-hex {
    display: flex;
    justify-content: space-between;
    padding: 0 0.75rem;
    margin-top: 0;
}

/* Buttons */

.get-scheme-button {
    color: whitesmoke;
    background-color: #3D4B60;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Images */

/* Links */

/* The snackbar at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on action */
    min-width: 250px;
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: whitesmoke;
    color: #1F2937;
    text-align: center;
    border-radius: 6px;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible;
    /* 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/* Media queries */

/* @media (width <= 599px) */
@media (max-width: 599px) {
    .colors {
        width: 100%;
    }

    .color-hex {
        width: 100%;
        gap: 1rem;
    }
}

/* @media (width >= 600px) */
@media (min-width: 600px) {
    /* Typography */

    .title {
        font-size: 3rem;
    }

    .input-color,
    .color-mode,
    .mode-option,
    .get-scheme-button {
        font-size: 1.5rem;
}

    /* .color-view span {
        height: 400px;
        width: 100px;
    } */

    /* Layout */

    .container {
        padding: 2.5rem;
    }

    /* .colors {
        gap: 2rem;
    } */

    .color-view {
        height: 400px;
    }

    .color-hex {
        width: 100%;
        padding: 0 1rem;
    }
    
    .color-image {
        width: 100px;
    }
}
